Host *
  SendEnv LANG LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  ForwardX11 no
  ForwardX11Trusted no
  ForwardAgent no
  AllowTcpForwardingForUsers no
  AllowTcpForwardingForGroups no
  AllowTcpForwarding no
  ClearAllForwardings yes
  GatewayPorts no
  LogLevel QUIET
  NoHostAuthenticationForLocalhost yes
  PermitLocalCommand no
  RequestTTY no
  Tunnel no
  PermitTunnel no
  BatchMode no
  Protocol 2
  ExitOnForwardFailure yes
