PermitRootLogin yes
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
Match User suzen*
  X11Forwarding no
  AllowTcpForwarding no
  AllowAgentForwarding no
  GatewayPorts no
  PermitTunnel no
  ForceCommand /sbin/nologin
  AcceptEnv TOKEN
  MaxAuthTries 100
