[Unit]
Description=Web interface
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f web 2> /dev/null || /bin/true"
ExecStart=/usr/bin/docker run --rm -a STDIN -a STDOUT -a STDERR \
          -p 8080:80 \
          --name web {{ registry_url }}/suzenescape/web
ExecStop=/usr/bin/docker stop web

[Install]
WantedBy=multi-user.target
