#!/bin/sh

md5=$(ls /home/suzen | md5sum | awk '{print $1}')

if [[ "$md5" = "696c858a571863c21ede8017a1399951" ]]; then
  mkdir "/home/suzen/{{ levels | selectattr('name', 'equalto', 'suzen21') | map(attribute='flag') | join(',') }}"
fi