#!/bin/bash

ID="$1"

dockerstdout=$(docker exec ${ID} ps aux)

if $(printf "%s\n" "$dockerstdout" | grep '\-f' | grep diary | grep -q tail); then
  docker exec ${ID} sh -c "echo FLAG: {{ levels | selectattr('name', 'equalto', 'suzen27') | map(attribute='flag') | join(',') }} >> /home/suzen/diary"
fi