#!/bin/bash

ID="$1"

dockerstdout=$(docker exec ${ID} ls /home/suzen)
md5=$(printf "%s\n" "$dockerstdout" | md5sum | awk '{print $1}')

if [ "$md5" = "696c858a571863c21ede8017a1399951" ]; then
  docker exec ${ID} mkdir "/home/suzen/{{ levels | selectattr('name', 'equalto', 'suzen21') | map(attribute='flag') | join(',') }}"
fi