[Unit]
Description=Rabbitmq
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f rabbitmq 2> /dev/null || /bin/true"
ExecStart=/usr/bin/docker run --rm -a STDIN -a STDOUT -a STDERR \
            --hostname rabbitmq \
            --name rabbitmq \
            -p 5672:5672 \
            -p 15672:15672 \
            -e RABBITMQ_DEFAULT_USER={{ rabbitmq_pass }} \
            -e RABBITMQ_DEFAULT_PASS={{ rabbitmq_pass }} \
            -v /etc/rabbitmq/:/etc/rabbitmq/ \
            rabbitmq:management-alpine
ExecStop=/usr/bin/docker stop rabbitmq

[Install]
WantedBy=multi-user.target
