#!/usr/bin/env python3

import pika, yaml, base64, time, sys

pika_username = "{{ rabbitmq_user }}"
pika_password = "{{ rabbitmq_pass }}"
pika_addr = "{{ pika_addr }}"
pika_port = "5672"
pika_virtualhost = "/"
pika_queue = "token_build_container"

def send_message_rabbitmq(message="Hello World!"):
    credentials = pika.PlainCredentials(pika_username, pika_password)
    parameters = pika.ConnectionParameters(pika_addr, pika_port, pika_virtualhost, credentials)
    connection = pika.BlockingConnection(parameters)
    channel = connection.channel()
    channel.queue_declare(queue=pika_queue, durable=True)
    channel.basic_publish(exchange='',
                          routing_key=pika_queue,
                          body=message,
                          properties=pika.BasicProperties(
                             delivery_mode=2,
                          ))
    connection.close()

send_message_rabbitmq(str(sys.argv[0]))
