@import "bootstrap/scss/_functions.scss";

$black: #000;
$primary: #BD1313;

$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
$exo: 'Exo', sans-serif;

$body-color: $black;

$font-family-sans-serif: $opensans;

$font-size-base: 1.25rem;

$headings-font-family: $montserrat;
$headings-font-weight: 400;

$btn-font-weight: 700;
$btn-font-size: 1rem;

$btn-padding-y: .6rem;
$btn-padding-x: .85rem;