---
- hosts       : all
  gather_facts: no
  become      : true
  vars_files  :
    - vars.yaml

  pre_tasks:
  - name: intall python
    raw: apt -y update && apt install -y python-minimal python-apt
  - name: determine if registry is already installed
    uri:
      url: "{{ registry_proto }}://{{ registry_url }}"
      return_content: yes
      timeout: 5
    register: result
    ignore_errors: yes
  - set_fact: registry="{{ result.status }}"
  - name: if running first time
    debug:
      msg: "THIS IS FIRST TIME RUNNING. RE-RUN vagrant provision after uploading tasks to registry"
    when: "registry == -1"

  roles       :
    - install_docker
    - { role: registry,         when: deploy_registry|bool == true }
    - { role: build_containers, when: build_containers|bool == true }
    - { role: deploy_web,       when: (registry != "-1") and (deploy_web|bool == true) }
    - { role: deploy_tasks,     when: registry != "-1", tags: ["deploy_tasks"] }
