---
- hosts: registry
  gather_facts: no
  tags: [dockreg]
  roles:
  - { role: python3, tags: [python] }
  - { role: install_docker, tags: [install_docker] }
  - { role: registry, tags: [registry] }
  vars_files: [vars.yaml]


- hosts: all
  gather_facts: no
  become: true
  vars_files:
  - vars.yaml

  pre_tasks:
  - name: intall python
    raw: if [ "{{ is_online | default('yes') }}" == "yes" ]; then apt -y update; fi; apt install -y python-minimal python-apt
    changed_when: false
  - name: determine if registry is already installed
    uri:
      url: "{{ registry_proto }}://{{ registry_url }}"
      return_content: yes
      timeout: 5
    register: result
    ignore_errors: yes
  - set_fact: registry="{{ result.status }}"
  - name: if running first time
    debug:
      msg: "THIS IS FIRST TIME RUNNING. RE-RUN vagrant provision after uploading tasks to registry"
    when: "registry == -1"

  roles:
  - { role: install_docker,   when: install_docker|bool == true }
  - { role: registry,         when: deploy_registry|bool == true }
  - { role: build_containers, when: [build_containers|bool == true, is_online == "yes"] }
  - { role: deploy_web,       when: (registry != "-1") and (deploy_web|bool == true), tags: ["deploy_web"] }
  - { role: deploy_tasks,     when: registry != "-1", tags: ["deploy_tasks"] }
