#!/bin/bash

NETWORK="none"

if [ -z ${TOKEN+x} ]; then
  echo $TOKEN
else
  echo "no token"
fi

if [[ $(whoami) =~ ^(suzen5|suzen9)$ ]]; then
  NETWORK="$(whoami)_network_$RANDOM"
  docker network create --internal ${NETWORK} 2>&1 1>/dev/null

  # server
  /usr/bin/docker run -d --rm --network $NETWORK \
    --cpus=".5" --memory=512m --kernel-memory=512m --pids-limit=50 --stop-timeout=1 \
    {{ registry_url }}/suzenescape/$(whoami)server 2>/dev/null 1>/dev/null
fi

# task
/usr/bin/docker run -ti --rm --network $NETWORK
  --cpus=".2" --memory=50m --kernel-memory=50m --pids-limit=50 --stop-timeout=1 \
  {{ registry_url }}/suzenescape/$(whoami) 2>/dev/null
