#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} ps aux)

if $(printf "%s\n" "$dockerstdout" | grep '\-f' | grep diary | grep -q tail); then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen27') | map(attribute='flag') | join(',') }}"
  FLAG_ENC=$(echo ${TAG} | openssl enc -aes-256-cbc -nosalt -k ${FLAG} -a | base64)
  docker exec ${ID} sh -c "echo FLAG: ${FLAG_ENC} >> /home/suzen/diary"
fi