#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

FLAG="{{ levels | selectattr('name', 'equalto', 'suzen1704') | map(attribute='flag') | join(',') }}"

dockerstdout=$(docker exec -u hacker ${ID} sh -c "SECRET_TOKEN_TO_HACKERS_SERVER=${FLAG}; sleep 20s;" )
