#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} tree /home/suzen/)

md5=$(printf "%s\n" "$dockerstdout" | md5sum | awk '{print $1}')

if [ "$md5" = "15d2336c6f0f436f60872e68ec6c7d6c" ]; then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen24') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} mkdir "/home/suzen/${FLAG}"
fi