#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} md5sum /home/suzen/diary)
dockerstdout=$(tr -dc '[[:print:]]' <<< "$dockerstdout")
md5=$(echo ${dockerstdout} | awk '{print $1}')

if [ "$md5" = "09ad19c9d3502756f89a5e68c9938426" ]; then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen28') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} mkdir "/home/suzen/${FLAG}"
fi