#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} \
  sh -c 'echo $(if [ -d /home/suzen/Documents/projects/lab19/using/simple/bash/commands ]; then echo yep; fi)')
dockerstdout=$(tr -dc '[[:print:]]' <<< "$dockerstdout")

if [ "$dockerstdout" = "yep" ]; then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen19') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} mkdir "/home/suzen/Documents/projects/lab19/using/simple/bash/commands/${FLAG}"
fi