#!/bin/bash

ID="$1"
TAG="$2"
pattern="answer.py"

if [ "$TAG" == "latest" ]
then
  TAG="latest:1234567890"
fi

dockerstdout1="$(docker exec ${ID} ls /home/suzen)"
md5="did not"

if [[ "$dockerstdout1" == *"$pattern"* ]]
then
  dockerstdout2=$(docker exec ${ID} md5sum answer.py)
  md5=$(echo "$dockerstdout2" | awk '{print $1}')
fi

if [ "$md5" == "92f1dac7af2ed520857de8a492abc670" ]
then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen2002') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} mkdir "/home/suzen/${FLAG}"
fi
