#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} ps aux)

if $(printf "%s\n" "$dockerstdout" | grep '\-f' | grep diary | grep -q tail); then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen27') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} sh -c "echo FLAG: ${FLAG} >> /home/suzen/diary"
fi