#!/bin/bash

ID="$1"
TAG="$2"
if [ "$TAG" == "latest" ]; then
  TAG="latest:1234567890"
fi

dockerstdout=$(docker exec ${ID} ls /home/suzen)
md5=$(printf "%s\n" "$dockerstdout" | md5sum | awk '{print $1}')

if [ "$md5" = "696c858a571863c21ede8017a1399951" ]; then
  FLAG="{{ levels | selectattr('name', 'equalto', 'suzen21') | map(attribute='flag') | join(',') }}"
  docker exec ${ID} mkdir "/home/suzen/${FLAG}"
fi