#!/bin/bash

ID="$1"

dockerstdout=$(docker exec ${ID} sh -c 'find "/home/john" -mindepth 1 -print 2>/dev/null')
dockerstdout=$(tr -dc '[[:print:]]' <<< "$dockerstdout")

if [ "$dockerstdout" = "" ]; then
  docker exec ${ID} mkdir "/home/suzen/{{ levels | selectattr('name', 'equalto', 'suzen20') | map(attribute='flag') | join(',') }}"
fi